$MARGIN: 25px;

$CONTROL_BUTTON_HEIGHT: 14px;
$CONTROL_BUTTON_PADDING: 4px;

$CONTENT_DROP_SHADOW: drop-shadow(0 0 2px #000000);
$CONTENT_MIN_SIZE: 160px;
$CODE_EDITOR_PADDING: 5px;
$LINE_NUMBERS_WIDTH: 38px;

$DIALOG_PADDING: 20px;
$DIALOG_ANIMATION_DURATION: 0.2s;
$DIALOG_ANIMATION_DISPLACEMENT: 60px;
$DIALOG_TEXT_COLOR: #444444;
$DIALOG_FOCUS_BORDER: 1px solid #000000;